rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow  write: if request.auth != null;
      allow read;
    }
    match /users/{document=**} {
      allow read, write: if request.auth != null;
    }
    
  }
  match /databases/users/{UID} {
      allow  write: if request.auth.uid == UID;
      allow read;
    }
    match /databases/ordersGeo/{id} {
      allow  write;
      allow read;
    }

}