/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/* ion-fab-button{
  --background: var(--ion-color-light);
  --color :var(--ion-color-primary);
}
ion-button{
  --background: var(--ion-color-light);
  --color :var(--ion-color-primary);
} */
.backgroundPolka{
  --background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
}
.fade-in {
  opacity: 1;
  animation: fade-in 4s ease-in forwards,
}
.fade-out {
  opacity: 0;
  animation:  fade-out 4s 2s ease-out forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/** Ionic CSS Variables **/
:root {
  --ion-font-family:tajawal,nunito;
  /** primary **/
  --ion-color-primary: #f3c212;
	--ion-color-primary-rgb: 239,243,18;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #d69710;
	--ion-color-primary-tint: #eee260;

	--ion-color-secondary: #47cdd7;
	--ion-color-secondary-rgb: 71,205,215;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #3eb4bd;
	--ion-color-secondary-tint: #59d2db;

	--ion-color-tertiary: #a160f0;
	--ion-color-tertiary-rgb: 161,96,240;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #8e54d3;
	--ion-color-tertiary-tint: #aa70f2;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;




}
