.center{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  align-self: center;
  align-content: center;
  color:aqua;
}
.profileCard{
  font-family: baloo;
  
}