.center{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  align-self: center;
  align-content: center;
  color:aqua;
}
.profileCard{
  height: 10%;
  background-color: aqua;
  border-radius: 1rem;
}