
.card{
    flex: 1;
    direction: rtl;
    background-color: aliceblue;

}
.row{
    display: inline-flex;
    flex-direction: row-reverse;
    }
.text{
    font-size: large;
    color: rgb(146, 29, 29);
}
.title{
    justify-content: center;
    font-family: baloo;
    font-size: large;
}
.BoldText{
    font-weight: 50;
    font-size: large;
    font-family: baloo;
}