
.card{
    direction: rtl;
    width: auto;

}
.fsize-small{
    font-size: smaller;
}
.row{
    display: inline-flex;
    flex-direction: row-reverse;
    }
.content{
    width: auto;
}
.w-min {
  width: min-content;
}

.text{
    font-size: large;
    color: rgb(146, 29, 29);
}
.title{
    justify-content: center;
    font-family: baloo;
    font-size: large;
}
.BoldText{
    font-weight: 50;
    font-size: large;
    font-family: baloo;
}
.topLeft{
    position: absolute;
    top: 0;
    left: 0;
    font-size: small;
}
.chips{
    padding-top: 20px;
    
}
.small{
    font-size: small;
}
